.connect{
min-height:100vh;
background:#05070d;
color:white;
padding-top:120px;
text-align:center;
}

.form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
margin-top:40px;
}

input{
padding:12px;
border-radius:8px;
border:1px solid #333;
background:#0b0f18;
color:white;
}

button{
margin-top:20px;
padding:12px;
border:none;
border-radius:30px;
background:#19c37d;
color:white;
cursor:pointer;
}